.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom:0 1rem;
}
.portfolio li .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}
.portfolio li .title.github::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../Icons/github.svg');
    margin-right: .5rem;
}

